# Fichiers Python compilés
*.pyc
__pycache__/

# Base de données
*.sqlite3
db.sqlite3

# Fichiers de log
logs/
log/api_metrics.json
log/taskflow.log

# Fichiers générés
api_metrics.json

.backups

# Fichiers cache Pytest
*.pytestcache