altair==5.5.0
asgiref==3.10.0
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
Django==5.2.8
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.1
drf-spectacular==0.29.0
gitdb==4.0.12
GitPython==3.1.45
gunicorn==23.0.0
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
lxml==6.0.2
MarkupSafe==3.0.3
narwhals==2.12.0
numpy==2.3.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
packaging==25.0
pandas==2.3.3
pathable==0.4.4
pillow==12.0.0
pluggy==1.6.0
protobuf==6.33.1
pyarrow==21.0.0
pydeck==0.9.1
Pygments==2.19.2
pytest==9.0.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
rfc3339-validator==0.1.4
rpds-py==0.28.0
six==1.17.0
smmap==5.0.2
soupsieve==2.8
sqlparse==0.5.3
streamlit==1.51.0
streamlit-sortables==0.3.1
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
watchdog==6.0.0
